:root {
	--text-color: #211f1f;
}

.loadingBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 4px;
	margin: 50% auto;
}

div.paintings {
	width: 100%;
	margin: 20% auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

div.paintingContainer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

div.paintings div.painting {
	width: 85%;
	display: flex;
	justify-content: center;
}

div.paintings img {
	width: 100%;
}

div.paintings div.paintingInfo {
	width: 85%;
	line-height: 115%;
	padding-left: 3px;
	color: rgb(149, 149, 149);
}

div.paintings div.paintingInfo h2 {
	font-size: 1.1rem;
	font-weight: 600;
	margin: 0;
}

div.paintings div.paintingInfo h3 {
	font-size: 1rem;
	font-weight: 500;
}

div.paintings div.paintingInfo p {
	font-size: 0.9rem;
}

/* Styles for Tablets - Portrait*/
@media (min-width: 768px) {
	div.paintings {
		width: 80%;
		margin: 15% auto 0;
		gap: 2rem;
	}

	div.paintingContainer {
		width: 90%;
	}

	div.paintings div.painting {
		width: 75%;
	}

	div.paintings img {
		width: 100%;
		max-width: 1000px;
	}

	div.paintings div.paintingInfo {
		width: 75%;
		padding-left: 2px;
		line-height: 130%;
	}

	div.paintings div.paintingInfo h2 {
		font-size: 1.3rem;
		font-weight: 400;
	}

	div.paintings div.paintingInfo h3 {
		font-size: 1rem;
		font-weight: 300;
		line-height: 100%;
	}

	div.paintings div.paintingInfo p {
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 140%;
	}
}

/* Styles for Tablets - Landscape*/
@media (min-width: 1024px) {
	.loadingBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 4px;
		margin: 45% auto;
	}

	div.paintingContainer {
		width: 100%;
	}

	div.paintings {
		width: 45%;
		margin: 5% auto 0;
		gap: 2rem;
	}

	div.paintings div.painting {
		width: 75%;
	}

	div.paintings img {
		width: 100%;
		max-width: 1000px;
	}
}

/* Styles for Desktops */
@media (min-width: 1280px) {
	div.paintings {
		margin: 2% auto 20px;
		width: 33%;
	}
}

@media (min-width: 1366px) {
	div.paintings {
		margin: 4% auto 20px;
		width: 33%;
	}
}

@media (min-width: 1440px) {
	div.paintings {
		margin: 4% auto 20px;
		width: 40%;
	}
}

@media (min-width: 1536px) {
	div.paintings {
		margin: 3% auto 20px;
		width: 38%;
	}
}

@media (min-width: 1920px) {
	div.paintings {
		margin: 5% auto 20px;
		width: 35%;
	}

	div.paintings div.paintingInfo h2 {
		font-size: 1.3rem;
		font-weight: 600;
		margin: 0;
	}

	div.paintings div.paintingInfo h3 {
		font-size: 1.1rem;
		font-weight: 500;
	}

	div.paintings div.paintingInfo p {
		font-size: 1rem;
	}
}

@media (min-width: 2560px) {
	div.paintings {
		margin: 5% auto 20px;
		width: 37%;
	}

	div.paintings div.paintingInfo {
		line-height: 170%;
	}

	div.paintings div.paintingInfo h2 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 0;
	}

	div.paintings div.paintingInfo h3 {
		font-size: 1.2rem;
		font-weight: 500;
	}

	div.paintings div.paintingInfo p {
		font-size: 1rem;
	}
}
/* iPad Pro 11 and 12 inch */
@media only screen and (min-device-width: 834px) and (max-device-width: 1194px) and (orientation: portrait) {
	.loadingBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 4px;
		margin: 45% auto;
	}

	div.paintings {
		width: 70%;
		margin: 20% auto;
		gap: 2rem;
	}
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1194px) and (orientation: landscape) {
	div.paintings {
		margin: 6% auto 0;
		width: 40%;
		gap: 2rem;
	}
}
