div.copyright {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.05);
	position: relative;
	font-size: 0.8rem;
	color: var(--text-color);
}

div.copyright p {
	margin: 0;
}

div.copyright p.legalNotice {
	text-decoration: underline;
	cursor: pointer;
}

/* Styles for Desktops */
@media (min-width: 1920px) {
	div.copyright {
		font-size: 1rem;
	}
}

@media (min-width: 2560px) {
	div.copyright {
		font-size: 1.2rem;
	}
}
